body {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

#wrapper {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
	width: 100%;
	min-height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 720px) {

  .circleDisplay {
    position: absolute;
    top: 100px;
    left: 600px;
    list-style: none;
    /*animation: spin 12s linear infinite;*/
    transform-origin: left;
  }

  .vis {
    background: #f15555;
    position: absolute;
    height: 4px;
    width: 2px;
    display: block;
    transform-origin: top;
  }
}

@media screen and (max-width: 720px) {

}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}